* {
	font-family: 'Jetbrains Mono';
	vertical-align: middle;
	text-align: center;
	padding: 0;
	margin: 0;
}
body {
	display: grid;
	grid-template-columns: 1, 100%;
	grid-template-rows: repeat(5, 1fr);
}

h1 {
	font-size: xx-large;
}

.value {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 1, 100%;
	height: 1.5em;
	background-color: lightseagreen;
}

.value span {
	color: whitesmoke;
	font-size: small;
	margin: auto;
}

#output {
	font-size: x-large;
	color: seagreen;
}
